In [1]:
import numpy as np
import pandas as pd
from numpy.linalg import multi_dot
from scipy.stats import norm

# Import matplotlib for visualization
import matplotlib
import matplotlib.pyplot as plt
# Plot settings
plt.style.use('ggplot')
matplotlib.rcParams['figure.figsize'] = [12.0, 8.0]
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['lines.linewidth'] = 2.0

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# 1. Modelisation des rendements

L'objectif de cette section est de mesurer votre capacité à extraire des données, les visualiser et les interpreter. Le fichier 'Nasdaq.csv' résume les valeurs journalières de l'indice du 5 février 1971 au 19 janvier 2022.

In [2]:
# Load the CSV file
nasdaq = pd.read_csv('Nasdaq.csv', index_col=0, parse_dates=True, dayfirst=True)  
nasdaq

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1971-02-05,100.000000,100.000000,100.000000,100.000000,100.000000,0
1971-02-08,100.839996,100.839996,100.839996,100.839996,100.839996,0
1971-02-09,100.760002,100.760002,100.760002,100.760002,100.760002,0
1971-02-10,100.690002,100.690002,100.690002,100.690002,100.690002,0
1971-02-11,101.449997,101.449997,101.449997,101.449997,101.449997,0
...,...,...,...,...,...,...
2022-01-12,15263.099610,15319.030270,15117.290040,15188.389650,15188.389650,4321180000
2022-01-13,15245.040040,15259.709960,14782.240230,14806.809570,14806.809570,4283070000
2022-01-14,14708.019530,14897.679690,14689.429690,14893.750000,14893.750000,4345780000
2022-01-18,14681.830080,14740.540040,14482.940430,14506.900390,14506.900390,5027990000
2022-01-19,14582.219730,14658.889650,14331.650390,14340.259770,14340.259770,4639990000

## 1.1. Visualisation graphique du cours entre 2020 et 2021

Tracez sur un graphique l'évolution du cours du Nasdaq entre 2020 et 2021, en utilisant les prix de fermture ajustés (Adj Close).

## 1.2. Rendements et Volatilités historiques

Calculez le rendement journalier moyen du Nasdaq, ainsi que sa volatilité, sur:
- l'ensemble de la période disponible (1971-2022)
- sur la période 2020-2021

Annualisez vos résulats. Commentez

## 1.3. Distribution des rendements - Distibution empirique VS normale

1. Tracez l'histogramme des rendements historiques de 1971 à 2022
2. Completez le graphique avec la distribution normale qui y est associée (paramètres calculés plus haut)
3. Commentez

# 2. Gestion de portefeuille

Le but de cette section est de mesurer votre capacité a simuler et trouver l'allocation optimale tout en controlant son risque. Le portefeuille initial est composé de 5 actions US: AMD, Cisco, Intel, Intuit et NVidia. Chacun des 5 actifs représente 20% du portefeuille.

In [3]:
# Load locally stored data
df = pd.read_csv('nasdaqstocks.csv', index_col=0, parse_dates=True)
df

                   AMD       CSCO       INTC        INTU        NVDA
Date
2017-01-03   11.430000  25.985626  31.973003  110.028519   25.166445
2017-01-04   11.430000  25.831156  31.807022  110.249069   25.753609
2017-01-05   11.240000  25.891226  31.754606  110.929855   25.099838
2017-01-06   11.320000  25.942713  31.868174  112.381989   25.435354
2017-01-09   11.490000  25.899807  31.981735  112.045395   26.466589
...                ...        ...        ...         ...         ...
2021-12-23  146.139999  61.915154  50.922092  634.972839  296.349487
2021-12-27  154.360001  63.048477  51.547329  652.013062  309.397308
2021-12-28  153.149994  63.157833  51.368690  649.026550  303.168335
2021-12-29  148.259995  63.585312  51.438164  647.278564  299.958893
2021-12-30  145.149994  63.247307  51.348843  642.613953  295.809601

[1258 rows x 5 columns]

In [4]:
# Attribute equal weights to each asset
numofassets = len(df.columns)
# Define Weights for Equal weighted portfolio
wts = numofassets * [1./numofassets]
# Reshape
wts = np.array(wts)[:,np.newaxis]
wts

array([[0.2],
       [0.2],
       [0.2],
       [0.2],
       [0.2]])

## 2.1. Evolution des rendements cumulés

Tracez l'évolution de la performance cumulée de chaque actif du portefeuille dans le temps.

## 2.2. Risque du portefeuille

Calculez la Value-at-Risk du portefeuille à 95% et horizon 1 jour. Commentez.

## 2.3. Trouver l'allocation optimale par une approche Monte-Carlo

1. Implementez une simulation de Monte Carlo pour génerer des poids aléatoires pour chacun des 5 actifs en portefeuille.
2. Pour chaque allocation simulée, calculez le rendement, volatilité et ratio de Sharpe attendu du portefeuille - le taux sans risque $r_f$ est égal à 0 pour simplifier.
3. Identifiez le portefeuille avec le rendement le plus élevé par unité de risque - e.g. le portefeuille avec le ratio de Sharpe le plus élevé.
4. Commentez.

In [62]:
# Fixed seed for comparability
np.random.seed(41)
# Number of runs set to 5000
num_runs = 5000